@page
@model StudentInfoApp.Pages.Students.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>學生列表</h1>

<p>
    <a asp-page="./Create">新增學生</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>名字</th>
            <th>班級</th>
            <th>座號</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Class</td>
            <td>@item.SeatNumber</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">編輯</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">刪除</a>
            </td>
        </tr>
        }
    </tbody>
</table>
